/*About-section*/
@use 'vars';

.section-about {
  background-color: vars.$white-bg;
  padding-top: 93px;
  padding-bottom: 94px;
}
.about-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-wrap {
  width: 605px;
}

.about-title {
  font-family: vars.$nav-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: vars.$green-color;
  margin-top: 8px;
  margin-bottom: 38px;
  width: 463px;
}

.about-text {
  font-size: 20px;
  line-height: 30px;
}

.about-img {
  width: 464px;
  height: 479px;

  img{
    width: 100%;
  }
}

@media screen and (max-width: 1220px){
  .section-about {
    padding-top: 40px;
    padding-bottom: 95px;
  }
  .about-container{
    flex-direction: column;
  }

  .about-wrap{
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about-title {
    font-size: 35px;
    line-height: 46px;
    margin-top: 0;
    margin-left: 102px;
    margin-bottom: 50px;
    text-align: center;
  }

  .about-img {
    width: 250px;
    height: 258px;
    margin-top: 68px;
  }
}

@media screen and (max-width: 760px){
  .about-title {
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 550px){
  .section-about{
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .about-title {
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 14px;
    width: auto;
  }

  .about-text{
    font-size: 15px;
    line-height: 25px;
  }
  .about-img{
    width: 150px;
    height: 147px;
  }
}