@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Inika/Inika-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Inika/Inika-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter-Regular.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter-Bold.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter-Light.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter-SemiBold.ttf) format("truetype");
  font-style: normal;
}