//root:

@use 'fonts';
//fonts
$font-family: 'Inter', sans-serif;
$nav-font-family: 'Inika', serif;
//backgroung
$main-bg: #EDF2EC;
$white-bg: #FFFFFF;
$select-body-bg: #DCE9D9;
$select-active-bg: #C1E698;
$price-card-bg: #D6E7D2;
$drop-btn-bg: #D9D9D9;
$select-drop-bg: #8BA07E;
//color
$main-text-color: #636060;
$nav-color: #010201;
$title-grey-color: #717171;
$green-color: #499A18;
$orange-color: #E06733;
$logo-text-color: #000000;
$card-border-color: #E3E1D5;
$price-line-color: #AEA1A1;



